body {
  margin: 0;
  font-size: 62.5%;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {

  font-family: Montserrat,Helvetica,Arial,sans-serif;
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;*/
}

